* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: "Abel", sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.clear {
  clear: both;
}

h1,
h2,
h3 {
  font-family: "Source Code Pro", monospace;
}

.container {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.sub-titles-sections {
  width: 200px;
  margin: 30px 0 20px 60px;
  text-align: start;
  color: #727272;
  font-weight: bold;
  border-bottom: 4px solid #696969;
  text-transform: capitalize;
}

.inactive {
  display: none !important;
}

/* ===================== HEADER ===================== */
.header {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  color: #727272;
}

.header h1 {
  font-size: 40px;
}

/** ===================== MENU ===================== **/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu > ul {
  display: flex;
}

.menu li {
  margin: 30px 0;
}

.menu a {
  padding: 10px;
  color: #8f8f8f;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}

.menu a:hover {
  color: #8254ff;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 60px;
  margin-right: 60px;
}

.categories-container a {
  padding: 10px;
  color: #8f8f8f;
}

.categories-container a:hover {
  background-color: #8254ff;
  color: #ffffff;
}

.btn-back {
  font-size: 25px;
  color: #8f8f8f;
}

.btn-back:hover {
  color: #8254ff;
}

@media (max-width: 1024px) {
  .sub-titles-sections {
    margin: 10px auto;
    text-align: center;
  }

  .categories-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
}

/* ===================== CARDS ===================== */

div.cards {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__content:hover {
  background-color: #dddddd;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__title {
  color: #696969;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: auto;
  margin-bottom: 20px;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  height: 100px;
  overflow: hidden;
}

/* ===================== MOVIE CONTENT ===================== */
.box-movie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  place-items: center;
  margin-right: 40px;
  margin-left: 40px;
}

.movie-img {
  grid-area: 1 / 1 / 2 / 2;
}

.movie-info {
  grid-area: 1 / 2 / 2 / 3;
}

.movie-info p {
  text-align: justify;
  margin: 10px 0;
  margin-right: 50px;
}

.movie-categories {
  color: #8254ff;
  margin-bottom: 5px;
}

.movie-vote {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie-vote span {
  color: #8f8f8f;
  line-height: 10px;
}

.movie-vote svg {
  color: #8254ff;
  font-size: 15px;
}

.movie-play {
  grid-area: 2 / 1 / 3 / 3;
}

.movie-play iframe {
  height: 400px;
  width: 900px;
}

@media (max-width: 1024px) {
  .movie-info {
    margin: 0 40px;
  }

  .movie-play iframe {
    height: 300px;
    width: 700px;
  }
}

@media (max-width: 768px) {
  .box-movie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px;
    place-items: center;
    margin: 0;
  }

  .movie-img {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: center;
  }

  .movie-img img {
    max-width: 100%;
    height: auto;
  }

  .movie-info {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0 20px;
  }

  .movie-title {
    margin-bottom: 10px;
  }

  .movie-info p {
    font-size: 20px;
    overflow: hidden;
    text-align: justify;
    margin-right: 0;
  }

  .movie-play {
    grid-area: 3 / 1 / 4 / 2;
    padding: 0 20px;
  }

  .movie-play h3 {
    margin-bottom: 10px;
  }

  .movie-play iframe {
    height: 300px;
    width: 500px;
  }
}

@media (max-width: 425px) {
  .movie-play iframe {
    height: 300px;
    width: 300px;
  }
}

/* ===================== CONTACT FORM ===================== */
.form-contact {
  text-align: center;
}

.subtitle-contact {
  margin: 30px auto 20px auto;
  text-align: center;
}

.form-contact label {
  display: block;
  font-size: 20px;
}

.form-contact input[type="text"],
.form-contact input[type="tel"],
.form-contact input[type="email"],
.form-contact textarea {
  outline: 0;
  background: #f2f2f2;
  width: 40%;
  border: 1px solid #8f8f8f;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-contact input[type="submit"] {
  display: block;
  width: 15%;
  text-transform: uppercase;
  background: #8254ff;
  color: #ffffff;
  outline: 0;
  border: 0;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
}

.form-contact input[type="submit"]:hover {
  background-color: #754de2;
}

@media (max-width: 768px) {
  .form-contact input[type="text"],
  .form-contact input[type="tel"],
  .form-contact input[type="email"],
  .form-contact textarea {
    width: 90%;
  }

  .form-contact input[type="submit"] {
    width: 50%;
  }
}

/* ===================== ABOUT ===================== */
.box-about {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 50px;
}

.box-about h2 {
  text-align: start;
  margin: 30px 0 20px 0;
}

.box-about p {
  text-align: justify;
  letter-spacing: 2px;
}

/* ===================== FOOTER ===================== */
footer h3 {
  margin: 20px;
  text-align: center;
  line-height: 40px;
  color: #8f8f8f !important;
  letter-spacing: 4px;
}

footer .social-media {
  text-align: center;
  font-size: 30px;
}

footer .social-media a {
  color: #8f8f8f;
  margin: 10px;
}
